{
  "semi": true,
  "singleQuote": true,
  "trailingComma":"all",
  "printWidth": 150,
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "proseWrap": "preserve",
  "requirePragma": false,
  "arrowParens": "avoid",
  "insertPragma": false,
  "tabWidth": 2,
  "useTabs": false
}